@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {

  :root {
    font-family: "Popins", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    padding: 0;
    /* min-height: 100vh; */
  }

  #root {
    height: 100vh;
  }
}

